@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f5;
   
}

.aquamarine {
    color: aquamarine;   
}

.light-steal-blue {
    color: lightsteelblue;
}

.darker-blue {
    color: rgb(109, 135, 168);
}

button {
    font-family: inherit;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 100px;
    color: white;
    color: lightsteelblue;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Homepage Part */

#homepage {
    height: 100vh;
}

#resume-btn {
    color: aquamarine;
    border-color: aquamarine;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    border-style:solid;
    cursor: pointer;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    margin-bottom: 150px;
}

#main-content {
    margin: 0 auto;
    width: 70%;         
}

#main-content p {
    font-size: 25px;
}

#main-content h1 {
    font-size: 60px;
    margin-block: 20px;
}

.arrow-icon {
    background-color: aquamarine;
    border-radius: 70px; 
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.arrow-icon:hover {
    transition: 1s;
    padding: 20px;
    background-color: rgb(0, 255, 170);
}




/* Projects Part */

#projects {  
    height: 100vh; 
}

#projects h1 {
    margin: 0;
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    color: rgb(109, 135, 168);
    margin-bottom: 100px; 
}

.grid-container {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    gap: 40px;
    margin: auto;
}

.grid-item {
    border-radius: 20px;
    display: flex;
    align-items: center;     
    justify-content: center;    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    box-shadow: 1px 1px 7px;  
}


.project-link {
    background-color: #f3f4f5; 
    height: 100px;
    width: 100px;
    padding: 20px;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 1px 1px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 
 
 
}

.project-link:hover {
    transition: 1s;
    height: 120px;
    width: 120px;
    font-size: larger;
  
}


/* Links */

#links {
    background-color: aquamarine;
    position: fixed;
    bottom: 0;
    width: 100vw;
    color: rgb(109, 135, 168);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    
}

.email, .github {
    display: flex; 
    align-items: center;  
    gap: 10px;  
}

.icon {
    width: 30px;
    padding: 10px;
}






/* Background Projects */

.background {
    background-size: cover;
   background-position: center;
}

.weather {
    background-image: url(images/backgrounds-projects/weather-app.png);   
}

.calculator {
    background-image: url(images/backgrounds-projects/calculator.png);
}

.advice-generator {
    background-image: url(images/backgrounds-projects/advice-generator.png);
}

.to-do-list {
    background-image: url(images/backgrounds-projects/to-do-list.png);
}

.tic-tac-toe {
    background-image: url(images/backgrounds-projects/tic-tac-toe.png);
}

.etch-a-sketch {
    background-image: url(images/backgrounds-projects/etch-a-sketch.png);
}

.interactive-card {
    background-image: url(images/backgrounds-projects/interactive-card.png);
}

.landing-page {
    background-image: url(images/backgrounds-projects/landing-page.png);
}