@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Russo One', sans-serif;
    background-color: #f3f4f5;
   
}

.aquamarine {
    color: aquamarine;   
}

.light-steal-blue {
    color: lightsteelblue;
}

.darker-blue {
    color: rgb(109, 135, 168);
}

button {
    font-family: inherit;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 100px;
    color: white;
    color: lightsteelblue;
}

li:hover {
    font-size: large;
    transition: 1s;
}

a {
    text-decoration: none;
    color: inherit;
}


/* Unterleiste */

#unterleiste {
    background-color: aquamarine;
    border-top: solid 0.5px rgb(201, 200, 200);
    position: fixed;
    bottom: 0;
    width: 100vw;
    color: rgb(109, 135, 168);
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
}

.email, .github {
    display: flex; 
    align-items: center;  
    gap: 10px;  
}

.icon {
    width: 30px;
    padding: 15px;
}


/* Homepage Part */

#homepage {
    height: 100vh;
}

#horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
    
   

}

#portrait {
    width: 300px;
    height: 300px;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    border-radius: 50%;
    
}

#resume-btn {
    color: aquamarine;
    border-color: aquamarine;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    border-style:solid;
    cursor: pointer;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    margin-bottom: 150px;
}

/*
#main-content {
    margin: 0 auto;
    width: 100%;      
}
*/

#main-content p {
    font-size: 25px;
}

#main-content h1 {
    font-size: 60px;
    margin-block: 20px;
}

.arrow-icon {
    background-color: aquamarine;
    border-radius: 70px; 
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.arrow-icon:hover {
    transition: 1s;
    padding: 20px;
    background-color: rgb(0, 255, 170);
}


/* Skills Part */

#skills {
    height: 100vh;
    
   
}

#skills h1 {
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
}

#grid-container-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 350px;
    margin-inline: 50px;
}





/* Projects Part */

#projects {  
    height: 100vh; 
}

#projects h1 {
    margin: 0;
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    color: black;
    margin-bottom: 100px; 
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-auto-rows: 300px;
    margin-inline: 50px;
    gap: 10px;
   
}

.grid-item {
    text-align: center;
    padding-top: 10px;
     
}

.flex-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.link:hover {
    padding: inherit;
    font-size: large;
    transition: 1s;
    color: rgb(4, 190, 190);
}



/* Skills background */
.html {
    background: url(images/skills-logos/HTML5-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    background-color: aquamarine;   
}

.css {
    background: url(images/skills-logos/css3-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;  
}

.javascript {
    background: url(images/skills-logos/javascript-logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;   
    background-color: aquamarine; 
}

.react {
    background: url(images/skills-logos/react-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;     
}

.git {
    background: url(images/skills-logos/Git-Icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px; 
}

.github-skills {
    background: url(images/skills-logos/github-icon-skills.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;  
    background-color: aquamarine;
}

.api {
    background: url(images/skills-logos/api-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px; 
}

.fun {
    background-color: aquamarine;
}


@media(max-width: 500px) {
    /* Main-Content - mediaquery */
        #main-content {
            width: 100%;
            text-align: center;      
        }
    
        #navbar {
            justify-content: center;
            padding: 10px 60px;
            margin-bottom: 0px;
        }
    
        #main-content p {
            
            display: flex;
            flex-direction: column;
        }
    
    /* Skills - mediaquery */
        #skills h1 {
            margin-top: 220px;
            padding-top: 0;
            text-align: center;
            font-size: 50px;
        }
    
        #grid-container-skills {
            grid-template-columns: 1fr 1fr ;
            grid-auto-rows: 200px;
            margin-inline: 20px;    
            gap: 10px;
        }
    
        .grid-item-skills {
            background-color: white;
        }
    
    
    /* Projects - mediaquery */
        #projects {
            margin-top: 200px;   
        }
    
        #projects h1 {
            margin: 0;
            padding-top: 150px;
            text-align: center;
            font-size: 50px;
            color: black;
            margin-bottom: 100px; 
        }
    
        .grid-container {
            grid-template-columns: 1fr 1fr ;
            grid-auto-rows: 200px;
            margin-inline: 20px;    
            gap: 10px;
            padding-bottom: 100px;  
        }
        
        .grid-item {
            text-align: center;
            border-radius: 20px;   
        }


/* Unterleiste - mediaquery */
        #unterleiste {
            background-color: aquamarine;
            border-top: solid 1px black;
            position: fixed;
            width: 100vw;
            color: rgb(109, 135, 168);
            display: flex;
            align-items: center;
            justify-content: space-evenly;  
        }

        .icon {
            width: 20px;
            padding: 5px;
        }
}

@media(max-width: 1274px) {
    #homepage {
       
    }

    #main-content {
        text-align: center;
    }
}